@import "tailwindcss";

/* Enable dark mode using .dark class */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;

  /* Fonts */
  --font-outfit: var(--font-outfit);
  --font-ovo: var(--font-ovo);

  /* Shadows */
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}

/* Base styles */
@layer base {
  * {
    @apply font-outfit;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-white text-black dark:bg-darkTheme dark:text-white transition-colors duration-300;
  }
}